<section>
    <h2> My FAQ section</h2>
    <p>metafields enabled: {{ section.settings.show_metafields }}</p>


</section>

<style></style>


  <script>
    document.addEventListener("DOMContentLoaded", () => {
    console.log("Section loaded....")
      const faqData = {{ product.metafields.faq.questions | json }};

      console.log("FAQ metafields faq =>", faqData);

      {% comment %} faqData.forEach(faq => {
        console.log("Question:", faq.question);
        console.log("Answer:", faq.answer);
      }); {% endcomment %}
    });
  </script>
  {% comment %} {% if page and page.metafields.custom.faq != blank %}
{% endif %} {% endcomment %}


{% schema %}
    {
        "name": "My FAQ",
        "tag": "section",
        "class": "my-faq",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_metafields",
                "label": "Enable metafields",
                "default": true
            }
           
        ],
        "blocks": [
            {
                "type": "@theme"
            }
        ], 
        "presets": [
            {
                "name": "My FAQ"
            }
        ]
    }
{% endschema %}