<section>
    {% content_for 'block', type: 'my-image_text', id: 'my-image_text' %}
</section>

 <section>
    {% content_for 'block', type: 'dummy1', id: 'dummy1' %}
</section> 

{% style %}
    
{% endstyle %}

{% schema %}
{
    "name": "My image banner",
    "settings": [
        
        ],
        "blocks": [
            {
                "type": "my-image_text"
            },
            {
                "type": "dummy1"
            }
        ],
        "presets": [
            {
                "name": "My image banner",
                "blocks": {
                    "my-image-text": {
                        "type": "my-image_text"
                    },
                    "dummy1":{
                        "type": "dummy1"
                    }
                }
            }
            
        ]
}
{% endschema %}