<section>
    {% content_for 'blocks' %}
</section>

{% style %}
    
{% endstyle %}

{% schema %}
{
    "name": "My image banner",
    "settings": [
        
        ],
        "blocks": [
            {
                "type": "my-image_text"
            },
            {
                "type": "@theme"
            }
        ],
        "presets": [
            {
                "name": "My image banner",
            }
            
        ]
}
{% endschema %}