<div class="section-image-text-button__wrapper">
   {% content_for 'blocks' %}
</div> 
<style>
.section-image-text-button__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
</style>
{% schema %}
{
    "name": "Image text button",
    "tag": "section",
    "class": "section-image-text-button",
    "settings": [
        
        ],
        "blocks": [
            {
                "type": "@theme"
            },
            {
                "type": "_image-text-button"
            }
            
        ],
        "presets": [
            {
                "name": "Image-text-button section"
            }
        ]
}
{% endschema %}