<div>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Test section",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_simple-product-card"
    }
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "product"
    }
  ],
  "presets": [
    {
      "name": "Test section"
    }
  ]
}
{% endschema %}
